<div class="container text-center css-selector">
  
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>BYC1: DRAG & DROP</mat-card-title>
      <mat-card-subtitle>Luego de subir un archivo (una planilla de Excel), automaticamente se copian las filas del archivo a una tabla de SQL Server y luego se ejecuta un proceso especifico que calcula costos.</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content class="centrar">

      <mat-stepper class="demo-stepper" #stepper>

        <!-- primer paso -->
        <mat-step [stepControl]="firstFormGroup">
          <button class="btn-stepper" mat-button matStepperNext>Siguiente</button>

          <form [formGroup]="firstFormGroup">
            <!-- drop-zone -->
            <div class="drop-zone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
              <div class="drop-message" *ngIf="!isDragging">
                <mat-icon class="mat-48">cloud_upload</mat-icon>
                <p>Arrastre y suelte un archivo aquí</p>
                <p class="small">(Solo se permiten archivos .xlsx de hasta 5 MB)</p>
                <mat-progress-bar mode="indeterminate" *ngIf="uploading"></mat-progress-bar>
              </div>
              <div class="drop-message" *ngIf="isDragging">
                <mat-icon class="mat-48">file_copy</mat-icon>
                <p>Suelte el archivo aquí</p>
              </div>
            </div>
            <!-- archivos subidos -->
            <div class="uploaded-files" *ngIf="uploadedFiles.length > 0">
              <div>
                <p>Archivo subido: {{ uploadedFiles[0].name }}</p>
              </div>
            </div>
          </form>
        </mat-step>

        <!-- segundo paso -->
        <mat-step [stepControl]="secondFormGroup">
          <button class="btn-stepper" mat-button matStepperPrevious>Atrás</button>

          <form [formGroup]="secondFormGroup">
            <!-- ultima vez actualizado -->
            <div class="uploaded-files">Períodos subidos en la base de datos:</div>
            <div class="uploaded-files" *ngFor=" let periodo of periodos">
              <li>{{periodo}}</li>
            </div>
            <!-- botón de ejecutar store procedure  -->
            <!-- <button mat-button class="process-button">Ejecutar proceso</button> -->
          </form>
        </mat-step>

      </mat-stepper>
    </mat-card-content>
    <!-- <mat-card-actions>
      <div>
        
      </div>
    </mat-card-actions> -->
  </mat-card>
</div>
